@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Titan+One&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  background-color: #f4e9cd;
  color: #9dbebb;
  font-family: "Noto Sans", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 7em 1fr 5em;
  min-height: 100vh;
}

header,
footer {
  grid-column: 1/-1;
}

header,
footer,
aside {
  background-color: #031926;
}

header {
  font-family: "Titan One";
  font-size: 3rem;
  padding-left: 1em;
  display: flex;
  align-items: center;
}

.logo {
  height: 2em;
}

.logo img {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
