@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Titan+One&display=swap");
* {
  font-family: "Noto Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f4e9cd;
  color: #9dbebb;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 7em 1fr 5em;
  min-height: 100vh;
}

header,
footer {
  grid-column: 1/-1;
}

header,
footer,
aside {
  background-color: #031926;
}

header {
  font-size: 3rem;
  padding-left: 1em;
  display: flex;
  align-items: center;
}

header a {
  font-family: "Titan One";
  text-decoration: none;
  color: inherit;
}

.logo {
  height: 2em;
}

.logo img {
  width: 100%;
  height: 100%;
}

aside {
  padding: 0.5em;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
}

hr {
  width: 4em;
}

.project {
  list-style: none;
  padding: 0.5em;
  border-radius: 1.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project i {
  color: #f4e9cd;
  margin-right: 0.6em;
}

.remove {
  height: 25px;
  width: 25px;
}

.remove:hover {
  background-color: #f4e9cd;
  border-radius: 50%;
  color: #031926;
}

.project:hover,
.project:focus {
  background-color: #062e45;
}

.project button {
  background-color: inherit;
  border: none;
  color: #9dbebb;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

.btn {
  border: none;
  padding: 0.7em 2em;
  display: block;
  margin: 0 auto;
  border-radius: 2em;
  transition: transform 0.1s ease-in;
}

.btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.add-category {
  background-color: #f4e9cd;
  color: #031926;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #03192699;
  z-index: 1000;
  display: flex; /* It needs to be set to flex so that it can work properly */
  justify-content: center;
  align-items: center;
}

.modal-project,
.modal-note {
  padding: 2em;
  border-radius: 10px;
}

.modal-title {
  margin-top: 0;
}

input,
textarea,
select {
  margin: 10px auto;
  border: none;
  padding: 0.5em;
  border-radius: 0.2em;
  width: 90%;
  background-color: #fff;
}

.modal-project {
  display: none;
  background-color: #031926;
  color: #f4e9cd;
}

.buttons {
  display: flex;
  margin-top: 10px;
  gap: 2em;
}

.btn-add {
  background-color: #a2f7b0;
  font-weight: 700;
}

.btn-cancel {
  background-color: #f7afa1;
  font-weight: 700;
}

.modal-note {
  background-color: #f4e9cd;
  color: #031926;
}
main {
  color: #031926;
  padding: 1.2em;
}

.empty {
  width: 100%;
  height: 100%;
  background-image: url("./no-notes.jpeg");
  background-position: bottom center;
  object-fit: cover;
  display: none;
  justify-content: center;
  align-items: center;
}

.empty button {
  border: none;
  background-color: #f4e9cd;
  border-radius: 50%;
  padding: 1em 1.4em;
  font-size: 1.2rem;
  font-weight: 700;
  transition: transform 0.1s ease-in;
}

.empty button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.notes {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
}

.new-note {
  background-color: #031926;
  color: #f4e9cd;
  grid-column: 1/-1;
}

.note {
  padding: 1em;
  border-radius: 5px;
  position: relative;
  border: 1px solid #031926;
}

.note:hover {
  box-shadow: #031926 0 0 8px;
  cursor: pointer;
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
}

.description {
  font-size: 0.9rem;
  margin: 0.5em 0;
}

.priority-label {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin: 1rem;
  margin-bottom: 0;
}

.priority-label i {
  color: red;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  font-size: 1.2rem;
  font-weight: 700;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover,
footer a:focus {
  color: #5f9a90;
  cursor: pointer;
}
